<meta charset="UTF-8">
<title>Website Builder - With ❤ from Ribhu |
    <%= pageTitle %>
</title>
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
<script src="jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="popper-1.16.0/popper.min.js"></script>
<script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<link href="summernote-0.8.12/summernote.css" rel="stylesheet">
<script src="summernote-0.8.12/summernote.js"></script>
<link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="jsoneditor/dist/jsoneditor.min.js"></script>
<script src="file-saver/dist/FileSaver.min.js"></script>
<!-- include project css/js -->
<link rel="stylesheet" href="styles.css">
