<div class="jumbotron">

    <ul>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="http://awesomeankit.xyz">JSON Comparator (by Ankit)</a></h4></li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.rgbtohex.net/hextorgb/">hex to rgb (3rd party)</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://hexcolortool.com" style="font-size: 1.5rem; background-color: rgb(255, 255, 255);">https://hexcolortool.com</a><br></h4></li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.designworkplan.com/read/signage-and-color-contrast">Design - signage color and contrast</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.leserlich.info/werkzeuge/kontrastrechner/index-en.php">Contrast Calculator</a></h4>
        </li>

        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="http://juicystudio.com/services/luminositycontrastratio.php">Luminosity Colour Contrast Ratio Analyser</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://onlinepngtools.com/create-transparent-png">Make Images's background transparent</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://buffer.com/library/social-media-icons">List of 3rd party Icons Repo / CMS</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="http://www.iconfinder.com">Best 3rd party Icons Repo / CMS</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="http://www.sabrespark.com/?utm_source=sabre_sync&amp;utm_medium=email&amp;utm_campaign=sabre_sync&amp;utm_term=v3_deployment" style="font-size: 1.5rem; background-color: rgb(255, 255, 255);">Spark</a><br></h4></li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://gist.github.com/jimmywarting/ac1be6ea0297c16c477e17f8fbe51347">Bypassing CORS</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://hacks.mozilla.org">moz://a HACKS</a></h4>
        </li>
    </ul>

</div>