<div class="row">
    <div>
        <div class="jumbotron">
            <h2>About</h2>
            <p>A simple tool for managing content. Create content with add, update and delete features. Can also be used to host other applications.</p>
            <h2>Tech stack</h2>
            <p>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://nodejs.org/en/">NodeJS</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://expressjs.com/">Express</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://ejs.co/">EJS</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS 3</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Language_Resources">ES 5/6</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://jquery.com/download/">jQuery 3.4.1</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://popper.js.org/">Popper 1.16.0</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/docs/4.3/getting-started/download/">Bootstrap 4.3.1</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://fontawesome.com/v4.7.0/">Font Awesome 4.7.0</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://summernote.org/">Summer Note 0.8.12</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://github.com/josdejong/jsoneditor">JSON Editor</a></h3>
                </div>
                <div class="card bg-light card-body col-sm-3">
                    <h3><a target="_blank" rel="noopener noreferrer" href="https://github.com/eligrey/FileSaver.js/">FileSaver.js</a></h3>
                </div>
            </p>
            <h2>For Queries</h2>
            <p>Contact ribhubiswas@gmail.com</p>
        </div>



    </div>
</div>

<style>
    .card {
        display: inline-block;
        margin: 1em;
    }
</style>
