<hr>
<p style="font-weight:bold;">Input<br></p>
<hr>
<p>class OnlineJavaCompiler {<br></p>
<p style="margin-left:20px;">public static void main(String[] args) {<br></p>
<textarea id="javaInput" style="margin-left:40px; width: 90%; height: 250px;"></textarea>
<p style="margin-left:20px;">}<br></p>
<p>}<br></p>
<button id="runJavaCode" class="btn btn-primary" onclick="runJavaCode();">Run</button>
<hr>
<p style="font-weight:bold;">Output<br></p>
<hr>
<div id="javaOutput"></div>