<div class="jumbotron">
    <h1>My favourite web articles</h1>
    <h2>
        <ul>
            <li>
                <a href="https://developer.mozilla.org/en-US/" target="_blank">MDN Web Docs</a>
            </li>
            <li>
                <a href="https://alistapart.com/" target="_blank">A List Apart – For people who make websites</a>
            </li>
            <li>
                <a href="https://stackoverflow.com/" target="_blank">stack<b>overflow</b></a>
            </li>
            <li>
                <a href="https://www.tomsguide.com/" target="_blank">tom's guide</a>
            </li>
            <li>
                <a href="https://www.nature.com/" target="_blank">nature</a>
            </li>
        </ul>
    </h2>
</div>