<div class="jumbotron">
    <h1>My favourite lifestyle choices</h1>
    <h2>
        <ul>
            <li>
                <a href="https://www.fashionbeans.com/article/best-brogues-men/" target="_blank">Brogue Shoes - Wingtips are a personal favourite!!</a>
            </li>
            <li>
                <a href="https://www.levi.in/men/clothing/jeans?prefn1=fit&amp;prefv1=Slim" target="_blank">Slim Fit Jeans - Levi's</a>
            </li>
            <li>
                <a href="https://www.jockeyindia.com/men/outerwear-tops/t-shirt?color=grey" target="_blank">Grey T-Shirt - Jockey</a>
            </li>
            <li>
                <a href="https://www.apple.com/watch/" target="_blank">Watch - Apple</a>
            </li>
            <li>
                <a href="https://www.samsung.com/in/microsite/gear-sport/?cid=in_ppc_google-hhp-estore-dsa-20171218" target="_blank">Watch - Samsung Gear Sport</a>
            </li>
        </ul>
    </h2>
</div>