<div class="jumbotron">
    <ul>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ribhubiswas/">Linkedin</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ribhu_/">Twitter</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Biswas.Ribhu">Facebook</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/ribhu_/">Instagram</a></h4>
        </li>
    </ul>
</div>