<div class="jumbotron">
    <ul>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/">Linkedin</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/">Twitter</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/">Facebook</a></h4>
        </li>
        <li>
            <h4><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/">Instagram</a></h4>
        </li>
    </ul>
</div>
